.containerLogin{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

body{
    background-image: url(https://s3-alpha-sig.figma.com/img/fd78/3cbd/1ce92e33ebc971b7468c18fcdf210e55?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HId3O9TYqTpOn9t9E5lTEts7EKmQe6NBWBBmOFXjCDRMG3Zz~~fbMByes-aYJ61Pj6A62f7fT3oYkBC-2q48oLLCq0CzivVqcDRvrYv8mjbGy9C1OeOAZ-F6j74l3eGaBEzxhMJ1nGSxXwV1e~VmmPxbDdPelBoWW0H6Ai43WLTViV6XN8WQzZug9M2WCTHlCiejHq3p7FVgsKWlt8ArawhBDqHl9ISg819zv2wiX1CnxNkaEY7YmkwOioTCodGfcjy2a3zjdf3DIXOd35crp0wQvFklQdpDctDkB5BiyNowfG5Yy3cbvrW83xmI5~6iqRazBNt-MMM5yPVb5aUfLQ__);
    background-size: cover;
    margin: 0 auto;
    margin-top: 5%;
}

.containerForm{
    display: flex;
    margin: 1%;
    background-color: #DFE0A7;
    width: 500px;
    height: 600px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex:1;
    box-sizing: border-box;
}

.campoForm{
    display: flex;
    margin-left: 5%;
}

footer{
    display: flex;
    flex: 1;
    flex-direction: row;
    border-top: 1px solid black;
    padding: 2%;
    text-align: center;
}

header{
    display: flex;
    flex: 1;
    flex-direction: row;
    border-bottom: 1px solid black; 
    padding: 2%;
    margin-bottom: 1%;
}

.header{
    align-self: center;
}

input{
    background-color: #DFE0A7;
    border-style: hidden;
    margin-left: 10%;
}

#Cadastrar{
    margin-left: 28%;
    background-color: #AA5D0C;
    margin-bottom: 15%;
    width: 45%;
    height: 7%;
    color: white;
    border-radius: 5px;
}

p,label,input{
    font-family: 'Cedarville cursive', cursive;
    font-size: large;
}

p{
    font-size: xx-large;
    font-weight: 400;
}