.containerLogin{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

body{
    background-image: url(../assets/figures/background-mesa.png);
    background-size: cover;
    margin: 0 auto;
    margin-top: 5%;
}

.containerForm{
    display: flex;
    margin: 1%;
    background-color: #DFE0A7;
    width: 500px;
    height: 600px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex:1;
    box-sizing: border-box;
}

.campoForm{
    display: flex;
    margin-left: 5%;
}

footer{
    display: flex;
    flex: 1;
    flex-direction: row;
    border-top: 1px solid black;
    padding: 2%;
    text-align: center;
}

header{
    display: flex;
    flex: 1;
    flex-direction: row;
    border-bottom: 1px solid black; 
    padding: 2%;
    margin-bottom: 1%;
}

.header{
    align-self: center;
}

input{
    background-color: #DFE0A7;
    border-style: hidden;
    margin-left: 10%;
}

#Cadastrar{
    margin-left: 28%;
    background-color: #AA5D0C;
    margin-bottom: 15%;
    width: 45%;
    height: 7%;
    color: white;
    border-radius: 5px;
}

p,label,input{
    font-family: 'Cedarville cursive', cursive;
    font-size: large;
}

p{
    font-size: xx-large;
    font-weight: 400;
}