.container2{
    display: flex;
    margin: 2%;
    background-color: #DFE0A7;
    width: 500px;
    height: 600px;
    font-family: 'Cedarville cursive', cursive;
    font-size: large;
}

.containerLogo{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    width: 100px;
    height: 100px;
}

header{
    display: flex;
    flex: 1;
    flex-direction: row;
    border-bottom: 2px solid black; 
    padding: 2%;
    margin-bottom: 1%;
    background-color: bisque;
    height: 100px;
}

footer{
    display: flex;
    flex: 1;
    flex-direction: row;
    border-top: 2px solid black; 
    padding: 2%;
    margin-top: 1%;
    background-color: bisque;
    height: 100px;
    justify-content: space-evenly;
}


p{
    margin-left: 3%;
}

.container1{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

body{
    background-image: url(../assets/figures/background-mesa.png);
    background-size: cover;
    margin-top: 5%;
    margin: 0px;
    padding: 0px;
}