
#main{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #552E06;
    width: 400px;
    height: 660px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: inset 5px 5px 150px rgba(0, 0, 0, 0.9);     
}

.login-form{
    height: 330px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #DFE0A7;
    border: 10px solid #AA5D0C;
    border-radius: 15px; 
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.9);
}

body{
    background-image: url(https://s3-alpha-sig.figma.com/img/fd78/3cbd/1ce92e33ebc971b7468c18fcdf210e55?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HId3O9TYqTpOn9t9E5lTEts7EKmQe6NBWBBmOFXjCDRMG3Zz~~fbMByes-aYJ61Pj6A62f7fT3oYkBC-2q48oLLCq0CzivVqcDRvrYv8mjbGy9C1OeOAZ-F6j74l3eGaBEzxhMJ1nGSxXwV1e~VmmPxbDdPelBoWW0H6Ai43WLTViV6XN8WQzZug9M2WCTHlCiejHq3p7FVgsKWlt8ArawhBDqHl9ISg819zv2wiX1CnxNkaEY7YmkwOioTCodGfcjy2a3zjdf3DIXOd35crp0wQvFklQdpDctDkB5BiyNowfG5Yy3cbvrW83xmI5~6iqRazBNt-MMM5yPVb5aUfLQ__);
    background-size: cover;
}

h2{
    width: 74px;
    height: 57px;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 12%;
    font-family: 'Cedarville cursive', cursive;  
    font-weight: 400;
    font-size: 30px;
}

p{
   width: 205px;
   height: 23px;
   margin-right: auto;
   margin-left: auto;
   padding-bottom: 10%;
   font-family: 'Cedarville cursive', cursive;  
   font-size: 14px;
   font-weight: 400; 
}

#criar-conta{
    text-decoration: none;
}

label{
    display:inline-block; /* Torna o label um elemento de bloco, mas mantém a posição em linha */
    width: 50px; /* Define uma largura fixa para garantir consistência */
    margin-left: 10px;
    margin-bottom: 21px;
    font-family: 'Cedarville cursive', cursive;
    font-weight: 400;
    font-size: 14px;
}

input[type="email"],input[type="password"]{
    width: 215px;
    background-color: #DFE0A7;
    border-style: hidden; 
    font-family: 'Cedarville cursive', cursive;
    font-weight: 400;
}

input[type="submit"]{
    height: 34px;
    width: 160px;
    border-radius: 5px;
    border-style: hidden;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #AA5D0C;
    text-align: center;
    color: white;
    font-family: 'Cedarville cursive', cursive;
    font-size: 18px;
    font-weight: 400; 
}